@model Reserva
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="buscar">
    <form method="POST" asp-controller="Home" asp-action="Reserva" >
    <div class="row">
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12">
                    <label style="color:#FFFf; font-family: 'ABeeZee', sans-serif;font-size:25px;">Horario de atención</label>
                </div>

                <div class="col-md-6">
                    <label for="">De 12 a.m</label><br>
                    <label>Check-in : </label>  <input type="date" id="txtDate" asp-for="checkin" required>
                </div>

                <div class="col-md-6">
                    <label for="">A 12 p.m</label><br>
                    <label>Check-out : </label>  <input type="date" id="end" asp-for="checkout" required>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="btnReserva">
                <br>
                <br>
             <input type="submit"   value="Buscar habitación">
            </div>
        </div>
    </div>
    </form>
</div>
<script>
    $(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;
 
    $('#txtDate').attr('min', maxDate);
});
</script>
<script>
   

    var start = document.getElementById('txtDate');
    var end = document.getElementById('end');

    start.addEventListener('change', function() {
        if (start.value)
            end.min = start.value;
    }, false);
    end.addEventLiseter('change', function() {
        if (end.value)
            start.max = end.value;
    }, false);
</script>