@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Allerta+Stencil&family=Blinker:wght@600&family=Caesar+Dressing&family=Charmonman&family=Cinzel+Decorative&family=Crushed&family=Ewert&family=Monoton&family=PT+Serif&family=Prompt:wght@300&family=Quicksand&family=Sirin+Stencil&family=Six+Caps&family=Spectral+SC:wght@200&family=Stardos+Stencil&family=Tenali+Ramakrishna&family=Tenor+Sans&display=swap');

body, html {
  height: 100%;
  margin: 0;
  background-color:   #f9f9f9;
}

.top-container span{
	color: white;
	font-family: 'Tenali Ramakrishna', sans-serif;
	font-size: 60px;
}



.boxhab{
  column-count: 3;
}



.btnBuscar{
  background-color: #ffcd48;
  color:black;
  border:0px;
  border-radius: 3px;


}

.buscar{
  background-color:#2c5545;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.buscar label{
  color:#ffcd48;
  font-size:14px;
  font-weight:bold;
}
.check{
  background-color: #2c5545;
  padding-top:20px;
  padding-bottom:20px;

}

 input[type=text], input[type=password] , input[type=email], input[type=date], input[type=number],input[type=time], select{
 
   display: inline-block;
  border: none;
  background: #f1f1f1;
  color:#8D908C;
}

.contenedorHab{
  margin:30px;
}

.subResumen input:hover{
  margin-top: 15px;
  background-color:#ffbe48;
  border-radius: 5px;
  border: 0px;
  padding: 16px 36px 16px 36px;
}



/*tab*/
.tab {
  overflow: hidden;
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #f1f1f1;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
 
  
  border-top: none;
  
}
.parte1{
   padding: 20px 12px;
   background-color:   #ffffff;
}
.parte2{
  padding: 20px 12px;
  background-color:#F3F3F3;
}
.icons{
  padding-top:10px;
  padding-left:40px;
}
.icons i{
  font-size:30px;
  color:#2c5545;
}
.hab{
 color:#414141;
  font-size: 25px;
  font-family: 'Tenor Sans', sans-serif;
  padding-left:20px;
  padding-bottom:10px;
}
.habtitulo{
  font-family: 'Prompt', sans-serif;
  color:#545553;
 padding-left:30px;
  padding-right:120px;
}
.habtitulo h3{
   padding-top:10px;
}

.precio{
  font-size:40px;
  font-family: 'Crushed', cursive;
}
.zonaPrecio{
   padding-top:30px;
   text-align:center;

 
}

.pisos{
  padding: 25px;
}
.checkbox{
  padding:10px;
  background-color: #EAEAEA;
  text-align: center;
   font-size:14px;
  font-family: 'Stardos Stencil', cursive;
}
.piso{
   padding:5px 10px 5px 10px;
  background-color:#2c5545;
  color:#fff;
  text-align: center;
}
.checkbox label{
    color:#919191 ;
 
}

/*titulos*/
 .titulo2{
  font-family: 'PT Serif', serif;
  font-size:18px;
 }
 .titulo3{
  font-family: 'MuseoModerno', cursive;
  font-size:24px;
 }
 .titulo1{
  font-family: 'PT Serif', serif;
  font-size:45px;
  color: white;
  padding:10px;

 }
 .titulo4{
  font-family: 'PT Serif', serif;
  font-size:48px;
  color: white;
  padding:10px;
  text-align: right;
 }

 .numberCircle {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding: 8px;

    background: #fff;
    border: 2px solid #2c5545;
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif;
}


 .contenedorRegistro{
  margin:50px;
  
 }
 .formhuesped{
  margin:20px;
 }
 .formhuesped h3{
  font-family: 'Prompt', sans-serif;
  color:#545553;
 }
 .formhuesped p{
  font-size:14px;
  font-family: 'PT Serif', serif;
 }
 .form-group{
  padding:0px;
  font-size:14px;
 }
 .form-group label{
  padding-left:11px;
  margin-bottom:0px;
 }
 .form-group input, select{
  background-color:white;
  margin:0px 0px 5px 5px;
  display: inline-block;
  border: none;
  color:#8D908C;
 }
 .btnReserva{
  
  color:black;
  border:0px;
  border-radius: 3px;

  font-family: 'Allerta Stencil', sans-serif;
  text-align:center;

 }
 .btnReserva input{
    background-color: #ffcd48;
    padding:10px 25px 10px 25px;
    border:0;
 }
 .btnReserva a{
  background-color: #ffcd48;
  padding:10px 25px 10px 25px;
  border:0;
  color: #414141;
  text-decoration: none;
}
 .btnReserva input:hover{
    background-color: #FFC529;
    padding:10px 25px 10px 25px;
    border:0;
 }


.box-details{
  padding:20px 30px 20px 20px;
  background-color: #E4F5DE;
  margin: 0px 10px 10px 10px;

}
.titulo{
  padding:20px 20px 10px 20px;
  background-color: #9EE8B9;
  margin: 10px 10px 0px 10px;

}
.contenedorAdmin h3{
  font-family: 'Prompt', sans-serif;
  color:#545553;
}
.contenedorAdmin{
    margin:50px;
  
}

