<main class="main col">
                <div class="row">

                    @foreach (var item in (List<Hab>)ViewBag.Hab)
                    {
                        <div class="col-md-4">
                            <div class="card">
                                <div class="imagen" back></div>
                            </div>
                        </div>
                    }
                </div>
</main>