<main class="main col">
                <div class="row">
                    <div class="columna col-lg-7">
                        <div class="widget nueva_entrada">
                            <h3 class="titulo">Inicio Luz y Luna</h3>
                            <button class="btn btn-primary">Verificar Datos</button>


                        </div>


                    </div>






                </div>



                <div class="row mb-4">

                    <div class="columna col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                Datos de Huesped
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <select class="form-control">
											<option value="">DNI</option>
											<option value="">Pasaporte</option>
											<option value="ruc">Ruc</option>
										</select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nombres</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Apellidos</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Teléfono</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Correo</label>
                                                <input type="email" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <span class="input-group-text">Motivo de Viaje</span>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" name="" id="" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                Datos de Habitación
                            </div>
                            <div class="card-body">

                                <div class="box-details">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <button class="btn btn-primary">Verificar Pago</button>
                                        </div>
                                        <div class="col-md-12">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Fecha de operación</th>
                                                        <th>Número operación</th>
                                                        <th>Referencia</th>
                                                        <th>Monto</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>03/07/2020</td>
                                                        <td>2343</td>
                                                        <td>Deposito</td>
                                                        <td>S/.120.00</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>





                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row mb-5">


                    <div class="columna col-lg-6">

                        <div class="card">
                            <div class="card-header">
                                Datos Acompañante
                            </div>
                            <div class="card-body">



                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <select class="form-control">
													<option value="">DNI</option>
													<option value="">Pasaporte</option>
													<option value="ruc">Ruc</option>
												</select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nombres</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Apellidos</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Fecha de nacimiento</label>

                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group">

                                                <input type="date" class="form-control">
                                            </div>
                                        </div>


                                    </div>
                                </form>



                            </div>
                        </div>

                    </div>

                    <div class="columna col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                Room Service
                            </div>


                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>Prec. Venta</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01</td>
                                        <td>Gaseosa</td>
                                        <td>2</td>
                                        <td>1.5</td>
                                        <td>3.00</td>
                                    </tr>


                                </tbody>
                            </table>




                        </div>

                    </div>

                </div>
				<div class="row mb-4">
                    <div class="columna col-lg-4">

                    </div>
                    <div class="columna col-lg-2">
                        <button class="btn btn-primary">Atras</button>
                    </div>
                    <div class="columna col-lg-6">
                        <button class="btn btn-primary">Realizar Reserva</button>
                    </div>


                </div>

            </main>