<main class="main col">
				<div class="row">
					<div class="columna col-lg-7">
						<div class="widget nueva_entrada">
							<h3 class="titulo">Inicio Luz y Luna</h3>
							
						</div>
					</div>

					<div class="columna col-lg-5">
						<div class="widget estadisticas">
							<h3 class="titulo">Estadisticas</h3>
							<div class="contenedor d-flex flex-wrap">
								<div class="caja">
									<h3>15,236</h3>
									<p>Visitas</p>
								</div>
								<div class="caja">
									<h3>1,831</h3>
									<p>Registros</p>
								</div>
								<div class="caja">
									<h3>$160,548</h3>
									<p>Ingresos</p>
								</div>
							</div>
						</div>

						
					</div>
				</div>
			</main>
